// .ion-content{
//     background-color: black;
// }

// --background{

// }

.img-capa{
    border-radius: 10px;
     outline: 1px solid rgb(0, 0, 0);
 }
 
 .titulo-nome{
     font-size:3rem;
 }
 
 .titulo-objetivo{
     font-size:2rem;
 }
 .borda{
    border-radius: 3px;
 }
 .fundo{
    background-color: rgb(146, 146, 146);
 }
 .fundo2{
    background-color: rgb(68, 68, 68);
 }